.contact {
	position: relative;
	padding-bottom: 5%;
	h2 {
		font-size: 2.4rem;
		text-align: center;
	}
	.filter {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;	
		z-index: 1;
		background: url(images/map.jpg) bottom;
		opacity: .1;
	}
	.contactInfo {
		background: $beige;
		padding-bottom: 5%;
		position: relative;
		z-index: 2;
		.tile {
			float: left;
			width: 33.3%;
			text-align: center;
			img {
				position: relative;
				top: -30px;
			}
			p {
				margin: 0;
				font-size: 1.2rem;
			}
		}
		
	}
	form {
		position: relative;
		z-index: 2;
		margin: 0 15%;
		width: 70%;
		p {
			input, textarea {
				border: 1px solid $grey;
				padding: 10px;
				margin-top: 1%;
				-webkit-appearance: none;
			}
			input {
				width: 49.5%;
				float: left;
			}
			input[name=your-name],
			input[name=your-email] {
				margin-right: .5%;
			}
			input[name=phone],
			input[name=your-subject] {
				margin-left: .5%;
			}
			input[type=submit] {
				border: 2px solid $red;
				padding: 10px;
				background: white;
				width: 10%;
				margin: 2% 45%;
			}
			textarea {
				width: 100%;
				resize: none;
			}
		}
		&:after {
		   content: " ";
		   visibility: hidden;
		   display: block;
		   height: 0;
		   clear: both;
		}
	}
}