@media (max-width: 1120px) {
	header {
		height: 20vh; 
		.logo {
			width: 50%;
		}
		nav {
			width: 50%;
			height: 10vh;
		}
		.social {
			width: 100%;
			height: 10vh;
			#search-2 {
				top: 20vh;
			}
		}
	}
	.hero {
		.carousel-cell {
			height: 80vh;
		}
	}
}

@media (max-width: 800px) {
	.hero {
		.carousel-cell {
			.contentOverlay {
				bottom: 30%;
				right: 40%;
				left: 5%;
			}
		}
	}
	.contact {
		form {
			p {
				input {
					width: 100%;
				}
				input[name=your-name],
				input[name=your-email] {
					margin-right: 0;
				}
				input[name=phone],
				input[name=your-subject] {
					margin-left: 0;
				}
				input[type=submit] {
					width: 30%;
					margin: 2% 35%;
				}
			}
		}
	}
}

@media (max-width: 700px) {
	.hero {
		.carousel-cell {
			img {
				height: 100%;
			}
			.contentOverlay {
				.headline {
					font-size: 2rem;
				}
				.subtitle {
					font-size: 1.4rem;
				}
				button {
					font-size: 1.4rem;
				}
			}
		}
		.flickity-page-dots {
			  bottom: 10%;
			}
	}
	.sliderWrap {
		.stats {
			top: 100%;
			bottom: -30%;
			margin: 0 0 2%;
			.item {
				width: 50%;
				border: 0;
				h2 {
					font-size: 2rem;
				}
				h4 {
					font-size: 1.4rem;
				}
			}
			.filter {
				opacity: .7;
			}
		}
	}
	.lead {
		padding-top: 30%;
	}
}

@media (max-width:620px) {
	.lead {
		.testimonial {
			&:before {
				left: -10%;
			}
			&:after {
				right: -10%;
			}
		}
	}
	section.specialty {
		.item {
			width: 100%;
		}
	}
	.contact {
		.contactInfo {
			padding-bottom: 0;
			.tile {
				width: 100%;
				p {
					position: relative;
					top: -30px;
					&:last-child {
						margin-bottom: 5%;
					}
				}
				&:last-child {
					p:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

@media (max-width:430px) {
	header {
		.logo {
			width: 100%;
			height: 10vh;
		}
		.hamburger {
			display: block;
		}
		nav {
			display: none;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 700;
			width: 100%;
			ul {
				height: 100vh;
				li {
					float: none;
					width: 100%;
					height: 33.3%;
					padding-top: 10%;
					a {
						text-align: center;
					}
				}
			}
		}
		nav.active {
			display: block;
		}
		.social {
			width: 100%;
			height: 10vh;
			#search-2 {
				top: 20vh;
			}
		}
	}
	.hero {
		.carousel-cell {
			height: 70vh;
		}
	}
}
